{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 8, "knowledge_revision": 17, "git_revision": "e425d9f85851f68de40716f36397a6704ed232f1", "hash": "3fff35d83d7ac874cfb891b398d3f8bc", "format-version": 4, "code-base-name": "live_video_backend", "filename": "live_video_backend/requirements.txt", "revision_history": [{"17": "e425d9f85851f68de40716f36397a6704ed232f1"}]}